
.masonry{
  margin: 1.5em 0;
      padding: 0;
      -moz-column-gap: 1.5em;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;
      column-count: 3;
}
@media only screen and (max-width: 400px){
  .masonry{
    column-count: 2;
  }
}

#createEventBtn {
  background-color: #0FB28A;
  color: white;
  text-align: center;
}

#createEventBtn:hover {
  background-color: #17ddac;
}
