.container-login{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  width: 100vw;
  padding: 100px 0 0 0;
  position: absolute;
  border-color: #0FB28A;
  background-color: #425A64;
}
.login-button-default{
  margin: 5px;
}
.happy-face-picture{
  position: relative;
  /*bottom: 0;*/
  left: 50%;
  margin-left: -250px;
  width: 500px;
  /*z-index: 1;*/
}
.form-container{
  position: relative;
  z-index: 1;
}
.text-input-line{
  background-color: transparent;
   color: #eeeeee;
   outline: none;
   outline-style: none;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: solid #eeeeee 1px;
   padding: 3px 10px;
   display: block;
   margin-bottom: 15px;

}

.text-input-line::placeholder{
  color: #cccccc;
}
.login-button-green{
  background-color:  #0FB28A;
}
#loginForm {
  margin: 20px 10px 20px 10px;
  background-color: #425A64;
  padding: 5px;
}

#or {
  text-align: center;
  font-style: italic;
}

#formHeader {
  background: transparent;
  border-color: #0FB28A;
}

#loginBtnl {
  margin-top: 10px;
  background: #0FB28A;
  border-color: #0FB28A;
  color: white;
}

#signupBtnl {
  background: white;
  border-color: #0FB28A;
  color: black;
  margin-top: 10px;
}
.brand-title-auth{
  font-size: 60px;
  width: 20%;
  margin: -50px auto 30px auto;
  color: white;
  font-family: 'Lobster', cursive;
  text-align: center;
  position: relative;
}
#homeBtnl {
  background: white;
  border-color: #0FB28A;
  color: black;
  margin-top: 10px;
}

#loginContainer {
  /*border-color: #0FB28A;*/
  /*border: 2px solid #0FB28A;*/
  border: transparent;
  background-color: #425A64;
  color: white;
  position: relative;
  /*box-shadow: 2px 2px 2px lightgray;*/
}

button:focus {
  outline:0;
}
input:focus {
  outline:0;
}
