@import url('https://fonts.googleapis.com/css?family=Raleway');

.previewContainer {
  color: black;
}


.eventCoverCard {
  width: 55vw;
  margin-top: 20px;
  min-height: 40vh;

.event-preview-location, .event-preview-description{
  word-wrap: break-word;

}

#eventCoverCardHeader, #eventActionsHeader, #eventDetailsHeader, #eventDescriptionHeader {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}

#previewImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 3px;
}

.previewIcons {
  color: black;
}

.eventActions {
  margin-top: 20px;
  margin-left: 5.2vw;
  height: 5vh;
  width: 15vw;
}

.list-group-item:hover {
  background: #9CC5BE;
  color: black;
}

.eventDetailsCard {
  width: 20vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eventDescriptionCard {
  width: 54vw;
  margin: 20px 0 20px 20px;
}
