@import url('https://fonts.googleapis.com/css?family=Raleway');

#event-preview-title{
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}
.event-preview-location{
  word-wrap: break-word;
}
#progress-bar{
  margin: auto auto;
  margin-top: 10px;
width: 200px;
height: 100px;
}

.success-alert{
  border-radius: 0;
  background-color: rgba(152, 255, 150, .3);
  color: rgb(53, 91, 52);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  background: #FFFFFF;
  color: black;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.cardimage {
    width: 100%;
    min-height: 200px;
    vertical-align: top;
    text-align: -webkit-center;
    overflow: hidden;
    margin-top: 10px;

}
.cardimage img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.event-preview-button{
  margin-bottom: 20px;
}
.btn-custom {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #adadad 1px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-custom:hover {
  background: #f0f0f0;
  text-decoration: none;
}
