#inviteEventImage {
  visibility: hidden;
}

#inviteTemplateBackToEventBtn {
  padding: 5px;
  font-size: 12px;
}

#saveInviteBtn {
  padding: 5px;
  font-size: 12px;
  background-color: #0FB28A;
}

#saveInviteBtn:hover {
  background-color: #17ddac;
}

#sendGuestEmailsBtn {
  padding: 5px;
  font-size: 12px;
  background-color: #0FB28A;
  margin-bottom: 20px;
}

#sendGuestEmailsBtn:hover {
  background-color: #17ddac;
}
