/*@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.picture-row-create-event{
  background-image: url("../Home/getting-started.jpg");
  background-size: cover;
  height:500px;
  background-position: center;
  overflow: hidden;
  position: relative;
}

#create-event-brand{
  color: white;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 10px;
  left: 25px;
}
#create-event{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color:white;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.create-row{
  margin-top: 15px;
  width:40%;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
}

.calendar-form{
  display: inline-block;
  margin-right: 30px;
  width: 30%;
}

select{
  line-height: 100px;
  height: 100px;
}

#preview-button{
  margin-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 400px){

  .create-row{
    margin-top: 15px;
    width:100%;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
  }
  .picture-row-create-event{
    background-image: url("../Home/getting-started.jpg");
    background-size: cover;
    height:100px;
    background-position: center;
    overflow: hidden;
    position: relative;
  }
  #create-event{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 25px;
  }
}*/

#updateEventDetailsBtn {
  padding: 5px;
  margin: 20px 0 20px 0;
  font-size: 12px;
  background-color: #0FB28A;
}

#updateEventDetailsBtn:hover {
  background-color: #17ddac;
}

#updatEventBackToPreviewBtn {
  padding: 5px;
  width: 200px;
  margin: 20px 0 20px 20px;
  font-size: 12px;
}
