.add-guest-header{
  font-family: 'Montserrat', sans-serif;
}

.add-guest-container{
  margin-bottom: 75px;
}
#progress-bar-yes, #progress-bar-no,#progress-bar-pending{
  margin: auto auto;
  /*margin-left: 30px;*/
  margin-top: 10px;
width: 200px;
height: 100px;
}
.fail-alert{
  border-radius: 0;
  background-color: rgba(255, 165, 169,.3);
  color: rgb(255, 0, 11);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.progress-bar-box{
	/*margin: auto auto;*/
	/*border: 1px solid black;*/
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.progress-bar-title{
	margin: auto auto;
	text-align: center;
}
/*input[type='checkbox']{
	width: 50px;
}*/
#sendReminderEmailsBtn{
  padding: 5px;
  font-size: 12px;
  background-color: #0FB28A;
}

#sendReminderEmailsBtn:hover {
  background-color: #17ddac;
}

.progressbarContainer {
  background: white;
  width: 20vw;
  height: 25vh;
}

#yesProgressBar {
  margin-left: 3vw;
}

#noProgressBar {
  margin-left: 7vw;
}

#pendingProgressBar {
  margin-left: 7vw;
}

#progress-bar-yes {
  object-fit: contain;
}

#progressbarHeaderYes, #progressbarHeaderNo, #progressbarHeaderPending {
  text-align: center;
  font-weight: bold;
}

.progress-bar-box {
  margin: auto;
}

.searchName {
  margin-left: 2vw;
}

.guestRowContainer {
  margin-top: 5vh;
  margin-left: 3vw;
  width: 74vw;
  max-height: 50vh;
  overflow: auto;
}

.view-pending {
  margin-left: 10px;
}

.guestRows {
  overflow: auto;
}

.createGuests {
  margin-top: 2vh;
  margin-left: 1vw;
}

.addCollabRow {
  margin-top: 2vh;
  margin-left: 2vw;
}
