.render-guests-row:hover{
  background-color: #c4c4c4;

}

.render-guests-row{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}

#updateGuestDetailsBtn {
  padding: 5px;
  font-size: 10px;
  width: 50px;
  background-color: #425A64;
}

#updateGuestDetailsBtn:hover {
  background-color: #5b7d8b;
}

#deleteGuestDetailsBtn {
  padding: 5px;
  font-size: 10px;
  width: 50px;
  background-color: #D60027;
}

#deleteGuestDetailsBtn:hover {
  background-color: #ff002e;
}
