.grid-item {
  width: 250px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  display: inline-block;
  /*padding: 10px;*/
  border-radius: 10px;
  margin: 10px;
  float: left;
  word-wrap: break-word;
  height: 300px;
}


.grid-item:hover{
  background-color: #d5dae2;
}

.event-display-item-image img{
  /*height: 200px;*/
  margin: auto auto;
  display: block;
}
.event-display-item-image{
  min-height: 100px;
  overflow: hidden;
  max-height: 200px;
}


.eventName{
  font-weight: bold;
  margin: 10px;
}
.event-display-item-description{
  margin: 10px;
  /*line-height: 50px;*/
  height: 100px;
  overflow: hidden;
}
