.grid-item {
  width: 250px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  display: inline-block;
  /*padding: 10px;*/
  border-radius: 10px;
  margin: 10px;
  float: left;
  word-wrap: break-word;
}


.grid-item:hover{
  background-color: #d5dae2;
}

.event-display-item-image img{
  height: 200px;

}
.event-display-item-image{
  height: 200px;
  overflow: hidden;
}


.eventName{
  font-weight: bold;
  margin: 10px;
}
.event-display-item-description{
  margin: 10px;
}
