
.grid-item-item{
  display: inline-block;
  background: #fff;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgba(0,0,0, 0.2);
  overflow: hidden;
  position: relative;
  max-height: 400px;

}
.grid-item-item:hover{

}

.event-display-item-image img{
  /*max-height: 200px;*/
  margin: auto auto;
  display: block;
}
.event-display-item-image{
  max-height: 400px;
  overflow: hidden;

}
.eventName-box{
  height: 50px;
  /*border: 1px solid black;*/
}
.event-grid-text{
  position: absolute;
  top: 85%;
  background-color: white;
  width: 100%;
  height: 400px;
  -webkit-transition:top .5s; /* Safari */
    transition: top .5s;
}
.event-grid-text:hover{
  /*height: 200px;*/
  -webkit-transition:top .5s; /* Safari */
    transition: top .5s;
  top: 5%;
}
.eventName{
  font-weight: bold;
  margin: 10px;
}
.event-display-item-description{
  margin: 10px;
  /*line-height: 50px;*/
  height: 30vh;
  overflow: hidden;
  text-align: justify;
  /*overflow-x: hidden;*/
}
.link-to-preview{
  color: #0FB28A;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  /*position: absolute;*/
  /*bottom: 10px;*/
}
.link-to-preview:hover{
  text-decoration: none;
}
