@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.picture-row-create-event{
  background-image: url("../Home/getting-started.jpg");
  background-size: cover;
  height:500px;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.time-input{

}
#create-event-brand{
  color: white;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 10px;
  left: 25px;
}
#create-event{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color:white;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.create-row{
  margin-top: 15px;
  width:40%;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
}
#date-and-time{
  border: 1px solid rgba(0,0,0,.1);
  overflow:visible;
  width: 100%;
}
.calendar-form{
  display: inline-block;
  margin-right: 30px;
  width: 30%;
}
/*input:required{
  border: solid red;
}*/

.input-required{
  border: solid red;
}
#preview-button{
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 400px){

  .create-row{
    /*margin-top: 15px;*/
    width:80%;
    /*font-size:15px;*/
    /*font-family: 'Montserrat', sans-serif;*/
  }
  .picture-row-create-event{
    background-image: url("../Home/getting-started.jpg");
    background-size: cover;
    height:20vh;
    width: 90vw;
    margin: auto auto;
    background-position: center;
    overflow: hidden;
    position: relative;
  }
  #create-event-brand{
    color: white;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: -10px;
    left: 10px;
  }
  #create-event{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    position: absolute;
    bottom: -10px;
    left: 90px;
  }
}
