.container-signup {
  /*margin-top: 5%;*/
  height: 100vh;
  width: 100vw;
  /*padding: 10px 0 0 0;*/
  /*margin: 0;*/
  border-color: #0FB28A;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #425A64;
  padding: 100px 0 0 0;
}

#signupForm {
  margin: 20px 10px 20px 10px;
  background-color: #425A64;
  padding: 5px;
}

#or {
  text-align: center;
  font-style: italic;
}

#loginBtn {
  background: white;
  border-color: #0FB28A;
  color: black;
  margin-top: 10px;
}

#signupBtn {
  background: #0FB28A;
  border-color: #0FB28A;
  color: white;
  margin-top: 10px;
}

#homeBtn {
  background: white;
  border-color: #0FB28A;
  color: black;
  margin-top: 10px;
}

#signupContainer {
  border: 2px solid #0FB28A;
  background-color: #425A64;
  color: white;
}

button:focus {
  outline:0;
}
input:focus {
  outline:0;
}
